.claimsTable
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #999;
}

.claimsTable td, .claimsTable th
{
    padding: 3px;
    border: 1px solid #999;
}
