

select, input{
  margin-bottom: 10px;
}
button
{
  padding: 10px;
}
.nav{
  list-style-type: none;
  margin:0;
  padding:0;
  background-color: yellow;
}
.nav li{
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
h1{
  background-color: lawngreen;
  text-align: left;
}

a:link
{
  text-decoration: none;
}
.searchBox {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
}
.searchBox label, input, button{
  margin:10px;
}